---
import Header from '@/components/molecules/Header.vue';
import { getLocale, languages, t,  getLangFromUrl } from '@/utils/i18n';
import Hero from '@/components/molecules/Hero.astro';
import bgImage from "@/assets/alex-maria01.jpeg";
// import bgImage from "@/assets/alexmaria-077.jpg";

import bgMurcia from "@/assets/bg-murcia.png";
import favicon from '@/assets/favicon.svg';
import Analytics from '@vercel/analytics/astro';

import '../styles/global.scss';
import logoImage from "../assets/logoam.png";


const lang = getLangFromUrl(Astro.url);
const path = Astro.url.pathname;
const locale = getLocale(lang);

const pathname = new URL(Astro.request.url).pathname;
// Limpiamos el idioma del pathname si fuera necesario
const currentRelativePath = pathname.replace(/^\/(es|en)/, '') || '/';



let heroData = {
  title: "Maria & Alex",
  subtitle: "30.05.2026",
  image: bgImage.src
};

console.log("Current path:", path);

if (path.startsWith(`/${locale}/travel`)) {
  heroData = {
    title:  t(locale, "travel.title"),
    subtitle: "30.05.2026",
    image: bgMurcia.src
  };
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<Analytics />
		<title>A&M 30.05.2026</title>
	</head>
	<body>
		<Header client:load currentPath={currentRelativePath} languages={languages} lang={lang} logo={logoImage.src}/>
		<Hero {...heroData} />
		<main>
			<slot />
		</main>
	</body>
</html>

